<h1><%= @contact.name() %></h1>

<div id="current_phones_table">
  <table class="table">
    <th>

      <td>
        <strong>Number</strong>
      </td>
      <td>
        <strong>Place</strong>
      </td>
      <td>
        <strong>Service Provider</strong>
      </td>

    </th>

      <% if @contact.phone() != [] %>
        <% index_counter = 0 %>
          <% @contact.phone().each() do |phone| %>
            <tr>
              <td>
              </td>
              <td>
                <%= phone.number() %>
              </td>
              <td>
                <%= phone.type() %>
              </td>
              <td>
                <%= phone.carrier() %>
              </td>
              <td>
                <%= "<form action='/delete_phone' method='post'>
                     <input type='hidden' name='id' value='#{@contact.id()}'>
                     <input type='hidden' name='index_counter' value='#{index_counter}'>
                     <input type='submit' value='delete' class='btn btn-default'> </form>" %>
              </td>
            </tr>
          <% index_counter = index_counter + 1 %>
        <% end %>
      <% end %>
    </table>
  </div>

  <div id="add_phone_form">
    <form action='/add_phone' method='post'>
      <div class="form-group">
        <label>Add a phone number:
          <br>
          <input name="number" type="text" placeholder="Number">
          <br>
          <input name="type" type="text" placeholder="Home/Work/Office">
          <br>
          <input name="carrier" type="text" placeholder="Cell Service Provider">
          <br>
          <input name="id" type="hidden" value="<%= @contact.id %>">
        </label>
        <input name="submit" type="submit"  value="Add" class="btn btn-default">
      </div>
    </form>
  </div>

  <a href="/">Go Back</a>
